[Install]
WantedBy=multi-user.target

[Unit]
Description=Altera GSRD initialization

[Service]
Type=oneshot
ExecStart=/usr/bin/altera-gsrd-init.sh -g start
RemainAfterExit=yes
